<!DOCTYPE html>
<html>
<head><title>Welcome Home</title></head>
<body style="text-align:left; background-color:lightgray">
  <p style="text-align:left; font-size:30px  ;color:orange; background-color:lightgray">
    About me </p>
    <hr width=100%; size=1px />
  <br/>
    <p> My name is Aleksey. I live in Riga, Latvia. <br/>
    I'm new to Ruby and Rails, but I used to attend classes on programming.<br/>
    <strong>I hope to get used to Ruby on Rails</strong>
  </p><br/>

</body>
<footer style="height:20">
  <hr width=100%; size=1px />
  <%= link_to 'Link to \'Home\' Page', root_path %>
  <%= link_to image_tag('flag.jpg')%>
</footer>
</html>
