<!DOCTYPE html>
<html>
<head><title>Welcome Home</title></head>
<body style="text-align:left; background-color:lightgray">
  <p style="text-align:left; font-size:30px  ;color:orange; background-color:lightgray">
    Hello, and Welcome to my page! </p>
    <hr size=1px />
  <br/>
    <ul>
      <h3>Today I plan to learn:</h3>
        <li>How to make simple page in Rails and make it visible</li>
        <li>How to make links from page to page</li>
        <li>How to implement ruby code to html.erb files</li>
    </ul><br/>

</body>
<footer style="height:20">
  <hr size=1px />
  <%= link_to 'Link to \'About\' Page', about_path %>
</footer>
</html>
